.credits-container {
  flex-direction: column;
}

.credit-icon {
  font-size: 10rem;
}

.credit-text {
  font-size: 3rem;
}

.credits-btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  margin: 10px;
}

.button-container {
  padding: 30px;
}

.winner {
  transition: all 1s ease-in;
  animation: winner-anim 0.2s ease-in;
}

@keyframes winner-anim {
  0% {
    position: absolute;
    rotate: 0deg;
    top: 0;
  }
  70% {
    top: 25%;
  }
}

.defeated {
  transition: all 1s ease-in;
  animation: defeat-anim 0.1s ease-in;
}

@keyframes defeat-anim {
  0% {
    filter: blur(10px);
    rotate: 40deg;
    translate: 100px;
  }
  100% {
    filter: blur(0);
    top: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .credit-icon {
    font-size: 6rem;
  }
  .credit-text {
    font-size: 2rem;
  }
  .credits-btn {
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
